---
layout: default
ishome: true
image_sliders: home_slider
---

<div class="background">
  <div class="gray-filter">
    <span class="welcome">{% t homepage.welcome %}</span>
  </div>
</div>



<div class="slider-wrapper">
  {% include slider.html selector="home_slider" %}
</div>



<div class="wrapper">

  <div class="home-section about">

    <h1 class="home-title">{% t homepage.about %}</h1>

    <h3>{% tf short_about.html %}</h3>

  </div>



  <div class="home-section news">

    <h1 class="home-title">{% t homepage.recent_news %}</h1>

    {% assign news = site.news | where: "locale", site.lang | sort: date | reverse %}

    {% assign recent_news = "" | split: "/" %}
  	{% for post in news limit: 5 %}
  		{% assign recent_news = recent_news | push: post %}
  	{% endfor %}

    {% include data_format.html %}

    {%- if recent_news.size > 0 -%}
      <ul class="news-list">
        {%- for post in recent_news -%}
        <li>
          <h3>
            {% if post.mdate %}
              <span class="post-meta">{% t global.last_updated_at %}: {{ post.mdate | date: date_format }}</span>
            {% else %}
              <span class="post-meta">{% t global.published_at %}: {{ post.date | date: date_format }}</span>
            {% endif %}
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
        </li>
        {%- endfor -%}
      </ul>
    {% endif %}

  </div>



  <div class="home-section support">

    <h1 class="home-title">{% t homepage.support %}</h1>

    <div class="instituitions">

      <a href="https://www5.usp.br/" target="_blank"><img class="institution institution-left" src="{{ site.baseurl_root }}/assets/img/support/usp-logo.png" alt=""></a>
      <a href="https://www.icmc.usp.br/" target="_blank"><img class="institution institution-right" src="{{ site.baseurl_root }}/assets/img/support/icmc-logo.png" alt=""></a>
      <span class="stretch"></span>

    </div>

  </div>

</div>
