---
layout: default
title: global.projects
---

<div class="home">
  <h1 class="page-heading">{% t page.title %}</h1>

  {% assign projects = site.projects | where: "locale", site.lang | sort: order | reverse %}

  {% include data_format.html %}

  {%- if projects.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- for project in projects -%}
        <li>
          <h3>
            <a class="post-link" href="{{ project.url | relative_url }}">
              <div class="project-preview">
                <img class="image-preview" src="{{ site.baseurl_root }}{{ project.image_preview }}">
              </div>
              {{ project.title | escape }}
            </a> •
            <a class="text-button" onclick="show('hidden-abstract{{forloop.index}}')">{% t projects.abstract %}</a>
            {% if project.mdate %}
              <span class="post-meta">{% t global.last_updated_at %}: {{ project.mdate | date: date_format }}</span>
            {% else %}
              <span class="post-meta">{% t global.published_at %}: {{ project.date | date: date_format }}</span>
            {% endif %}
          </h3>
        </li>
        {% if project.abstract %}
          <div class="project-abstract" id="hidden-abstract{{forloop.index}}" style="display: none;">
            <h4>{% t projects.abstract %}</h4>
            {{ project.abstract }}
          </div>
        {% endif %}
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>

<script src="{{ site.baseurl_root }}/assets/js/scripts.js" type="text/javascript"></script>
