<footer class="site-footer h-card">

  <data class="u-url" href="{{ site.baseurl }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col">
        <ul class="instituition-list">
          <li class="p-name footer-text">© 2022 {% t global.title %}</li>
          <li class="p-name footer-text">
            <a href="https://www.icmc.usp.br/" target="_blank">Instituto de Ciências Matemáticas e de Computação (ICMC)</a>
          </li>
          <li class="p-name footer-text">
            <a href="https://www5.usp.br/" target="_blank">Universidade de São Paulo (USP)</a>
          </li>
        </ul>
      </div>

      <div class="footer-col host-text">
        <p class="footer-text">{% t global.host %}</p>
      </div>

    </div>

  </div>

</footer>
