---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  {% include data_format.html %}

  <header class="post-header">

    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
      {% if page.mdate %}
        <span class="post-meta">{% t global.last_updated_at %}: {{ page.mdate | date: date_format }}</span>
      {% else %}
        <span class="post-meta">{% t global.published_at %}: {{ page.date | date: date_format }}</span>
      {% endif %}
    </h1>

  </header>

  <div class="post-content e-content" itemprop="articleBody">

    <div class="post-section project-section">

      {% if page.video %}
        <iframe class="media-section" width="700" height="393.75" src="{{ page.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      {% else %}
        {% if page.image %}
          <img class="media-section" src="{{ site.baseurl_root }}{{ page.image }}">
        {% endif %}
      {% endif %}

      {% if page.abstract %}
        <div class="abstract-section">
          <h2 class="post-section-title p-name">{% t projects.abstract %}</h2>
          <div class="post-section-content abstract-content">
            {{ page.abstract }}
          </div>
        </div>
      {% endif %}

    </div>


    {%- if page.team -%}

      {% assign publications = site.publications | where:"team", page.team | sort: date | reverse %}

      {%- if publications.size > 0 -%}
        <div class="post-section">
          <h2 class="post-section-title p-name">{% t projects.publications %}</h2>
          <div class="post-section-content">
            <ul class="post-list">
              {%- for publication in publications -%}

                {% unless publication.next %}
                  <h4 class="year-separator">{{ publication.date | date: '%Y' }}</h4>
                {% else %}
                  {% capture year %}{{ publication.date | date: '%Y' }}{% endcapture %}
                  {% capture nyear %}{{ publication.next.date | date: '%Y' }}{% endcapture %}
                  {% if year != nyear %}
                    <h4 class="year-separator">{{ publication.date | date: '%Y' }}</h4>
                  {% endif %}
                {% endunless %}
                  <li>
                    <div>
                      <span class="publication-meta">{{ publication.date | date: date_format }} • {{ publication.author }}</span>
                      <p class="publication-title">{{ publication.title | escape }}</p>
                      <p class="keyword-list">
                        {% t global.keywords %}:
                        <span>
                          {%- for keyword in publication.keywords -%}
                            {% if forloop.last %}
                              {{ keyword }}
                            {% else %}
                              {{ keyword }},
                            {% endif %}
                          {% endfor %}
                        </span>
                      </p>

                      <a class="text-button" onclick="show('hidden-abstract{{forloop.index}}')">Abstract</a> •
                      {% if publication.bibtex %}
                        <a class="text-button" onclick="show('hidden-bibtex{{forloop.index}}')">BibTeX</a> •
                      {% endif %}
                      {%- if publication.link -%}
                        <a href="{{ publication.link }}" target="_blank">
                          {% if publication.preprint %}
                            Preprint
                          {% else %}
                            Full Paper
                          {% endif %}
                        </a>
                        {%- if publication.pdf_link -%}
                        •
                        {% endif %}
                      {% endif %}
                      {%- if publication.pdf_link -%}
                        <a href="{{ publication.pdf_link }}" target="_blank">PDF</a>
                      {% endif %}

                      {% if publication.abstract %}
                        <div class="publication-abstract" id="hidden-abstract{{forloop.index}}" style="display: none;">
                          <p>Abstract</p>
                          {{ publication.abstract }}
                        </div>
                      {% endif %}

                      {% if publication.bibtex %}
                        <div class="publication-bibtex" id="hidden-bibtex{{forloop.index}}" style="display: none;">
                          <p>BibTeX • <span onclick="copy('copy{{forloop.index}}', 'text-copy{{forloop.index}}')"
                            class="copy" id="text-copy{{forloop.index}}">Copiar</span></p>
                          <pre id="copy{{forloop.index}}"><code>{{ publication.bibtex }}</code></pre>
                        </div>
                      {% endif %}
                    </div>
                  </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      {%- endif -%}


      {% assign group_members = site.data.members %}
      {% assign team_members = site.data.teams[page.team] %}

      {%- if team_members.size > 0 -%}
        <div class="post-section">
          <h2 class="post-section-title p-name">{% t projects.team %}</h2>
          <div class="post-section-content team">
            {%- for team_member in team_members -%}
              <div class="author">
                <a href="{{ site.baseurl }}/people/{{ team_member }}">
                  <img class="author-picture" src="{{ site.baseurl_root }}{{ group_members[team_member].picture }}">
                  <p class="author-name">{{ group_members[team_member].name }}</p>
                </a>
              </div>
            {%- endfor -%}
          </div>
        </div>
      {%- endif -%}

    {%- endif -%}

  </div>

</article>

<script src="{{ site.baseurl_root }}/assets/js/scripts.js" type="text/javascript"></script>
